<div>
    <h2 id="page-heading">
        <span>Ingredients</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ingredient" [routerLink]="['/ingredient/new']" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Ingredient
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ingredients?.length === 0">
        <span>No ingredients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ingredients?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span>Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userLogin"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ingredientModelName"><span>Ingredient Model</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dishName"><span>Dish</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ingredientId"><span>Ingredient</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ingredient of ingredients ;trackBy: trackId">
                    <td><a [routerLink]="['/ingredient', ingredient.id, 'view']">{{ ingredient.id }}</a></td>
                    <td>{{ ingredient.amount }}</td>
                    <td>
                        {{ ingredient.userLogin }}
                    </td>
                    <td>
                        <div *ngIf="ingredient.ingredientModelId">
                            <a [routerLink]="['/ingredient-model', ingredient.ingredientModelId , 'view']" >{{ ingredient.ingredientModelName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="ingredient.dishId">
                            <a [routerLink]="['/dish', ingredient.dishId , 'view']" >{{ ingredient.dishName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="ingredient.ingredientId">
                            <a [routerLink]="['/ingredient', ingredient.ingredientId , 'view']" >{{ ingredient.ingredientId }}</a>
                        </div>
                    </td>
                    <td class="text-right" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ingredient', ingredient.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ingredient', ingredient.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ingredient)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="ingredients?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
