<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ingredientModel">
            <h2><span>Ingredient Model</span> {{ ingredientModel.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ ingredientModel.name }}</span>
                </dd>
                <dt><span>Calories Per Unit</span></dt>
                <dd>
                    <span>{{ ingredientModel.caloriesPerUnit }}</span>
                </dd>
                <dt><span>Unit Types</span></dt>
                <dd>
                    <span *ngFor="let unitTypes of ingredientModel.unitTypes; let last = last">
                        <a [routerLink]="['/unit-type', unitTypes?.id, 'view']">{{ unitTypes.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Ingredient Types</span></dt>
                <dd>
                    <span *ngFor="let ingredientTypes of ingredientModel.ingredientTypes; let last = last">
                        <a [routerLink]="['/ingredient-type', ingredientTypes?.id, 'view']">{{ ingredientTypes.name }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ingredient-model', ingredientModel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
