<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-calorie-configuration-heading">Create or edit a Calorie Configuration</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_breakfastLow">Breakfast Low</label>
                    <input type="number" class="form-control" name="breakfastLow" id="field_breakfastLow"
                           formControlName="breakfastLow"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_breakfastHigh">Breakfast High</label>
                    <input type="number" class="form-control" name="breakfastHigh" id="field_breakfastHigh"
                           formControlName="breakfastHigh"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lunchLow">Lunch Low</label>
                    <input type="number" class="form-control" name="lunchLow" id="field_lunchLow"
                           formControlName="lunchLow"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_lunchHigh">Lunch High</label>
                    <input type="number" class="form-control" name="lunchHigh" id="field_lunchHigh"
                           formControlName="lunchHigh"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dinnerLow">Dinner Low</label>
                    <input type="number" class="form-control" name="dinnerLow" id="field_dinnerLow"
                           formControlName="dinnerLow"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_dinnerHigh">Dinner High</label>
                    <input type="number" class="form-control" name="dinnerHigh" id="field_dinnerHigh"
                           formControlName="dinnerHigh"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_snackLow">Snack Low</label>
                    <input type="number" class="form-control" name="snackLow" id="field_snackLow"
                           formControlName="snackLow"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_snackHigh">Snack High</label>
                    <input type="number" class="form-control" name="snackHigh" id="field_snackHigh"
                           formControlName="snackHigh"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
